[submodule "Melon Playlist Continuation/melon-playlist-continuation"]
	path = Melon Playlist Continuation/melon-playlist-continuation
	url = https://github.com/kakao-arena/melon-playlist-continuation
